
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  border: 1px solid red;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  width: 20%;
  border: 1px solid grey;
  margin: 0.5rem;
}

.card:hover {
  background-color: aliceblue;
  cursor: pointer;
}