
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  border: 1px solid red;
  padding: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 168.75px 168.75px 168.75px;
  width: 100%;
  gap: 5px 5px;
}

.card {
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.card:hover {
  background-color: aliceblue;
  cursor: pointer;
}